<p></p>
<h1>Sobre a Vendinha de jogos</h1>
<div class="texto">
  <p>
    Esse site foi construindo por Antônio Henrique Fernandes Mendes, com a ajuda
    de Edward :D(Vlw Edward), e Edymar :D(Vlw Edymar), tem como obejtivo de
    criação, a aprendizagem no ramo de tecnologia e desenvolvimento. Fins do
    site: educacionais, comunicação, e espero que uma boa nota. O site foi feito
    para fazer uma interação etre vendedor e cliente, onde possa facilitar a
    venda de jogos de vendedor para um cliente
  </p>
</div>
