h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: x-large;
}
.imagem {
  text-align: center;
  img {
    width: 1000px;
    border-radius: 15px;
    margin: 0 auto;
    padding: 0;
    border: 4px solid coral;
  }
}
.texto {
  margin: 0 auto;
  width: 1100px;
}
